* {
  margin: 0;
  font-family: "Roboto", serif;
}

.linklogout {
  text-decoration: none;
  color: black;
}

.linkLoginRegister {
  text-decoration: none;
  color: black;
  margin: 15px 0;
}

.linkLogin {
  text-decoration: none;
  color: black;
}

.hr {
  margin: 10px 0;
}
